header {
	background-color:$purple-dark;
}
nav {
	@include desktop {
		background-color:$purple-dark;
		display:flex;
		align-items: center;
	}
	ul {
		margin:0 auto;
		padding:0;
		@include desktop {
			display:flex;
			align-items: center;
			justify-content: center;
		}
		@include tablet-down {
			display:none;
		}
		li {
			list-style:none;
			margin-left:0rem;
			margin-right:0rem;
			@include tablet-down {
				text-align: center;
			}
			a {
				font-family:$serif;
				color:#fff;
				text-decoration: none;
				padding:1.25rem 1rem;
				display:inline-block;
			}
		}
	}
	a {
		font-family:$serif;
		color:#fff;
		text-decoration: none;
		padding:1.25rem 1rem;
		display:inline-block;
		float:right;
		position: relative;
		z-index: 10;
	}
	&.open {
		@include tablet-down {
			ul {
				position: fixed;
				height: 100vh;
				width: 100%;
				display: flex;
				left: 0;
				background-color:$purple-dark;
				align-items: center;
				justify-content: center;
				flex-direction: column;
			}
		}
	}
}